data/*.csv

!src/Models/AutoEncoderwATT/AutoEncoderwATT.pt
src/Models/*/LevelUnifiedRep
src/Models/*/LRLSTMData
src/Models/*/UnifiedRep

!data/AffordanceTrainDataDictionary.pickle

*.pyc

__pycache__
