data/context_data
data/*.csv
data/*.pickle

data/*
src/test.csv

outputs/*

src/testrep/*
src/lrLSTMData

src/MHArep
src/SecondTry
src/SecondTryTanH
src/Models

!src/Models/AutoEncoderwATT/AutoEncoderwATT.pt

!data/AffordanceTrainDataDictionary.pickle

*.pyc

__pycache__
